* {box-sizing: border-box;}

body{
  font-family: arial;
  background: #300032;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 5px;
  color: ;
}

@media (min-width: 320px) {
  .container {
    width: 111%;
  }
}

@media (min-width: 375px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 425px) {
  .container {
    width: 385px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 41%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 41%;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-height: 1px;
}

.header{
  display: flex;
  justify-content: space-between;
  background: #bd4e4e;
}

.profile{
  display: flex;
  margin-left: 70px;
  right: 10%;
  position: absolute;
}

.logo img{
  width: 67%;
  border-radius: 50%;
}

.prof img{
  width: 30%;
  border-radius: 50%;
  right: 10%;
  position: absolute;
}

.prof-name p{
  font-size: 20px;
}

.content{
  background-color: #d0c5d0;
  color: #080707;
  padding: 15px;
  height: 100%;
}

.navig{
  font-size: 30px;
  color: #4f094d;
}

.content h1{
  text-align: center;
}

.status {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}

.id{
  display: block;
}

.delivery-btn button{
  background-color: #300032;
  color: #fff;
  padding: 16px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.delivery-btn button:hover{
  opacity:1;
  background-color: #180119;
}

.all-delivery{
  margin-left: 10px;
}

.all-delivery:hover{
  color: red;
  cursor: pointer;
}

.pend-delivery{
  margin-left: 10px;
}

.pend-delivery:hover{
  color: red;
  cursor: pointer;
}

.delivered{
  margin-left: 10px;
}

.delivered:hover{
  color: red;
  cursor: pointer;
}

.status-pend{
  cursor: pointer;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:hover, input[type=number]:hover {
  background-color: #ddd;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: #fff;
  outline: none;
  color: #000;
}

.confirm-img{
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 18px;
  border-radius: 17px;
}

.status-delv, .status-pend{
  display: flex;
  justify-content: space-between;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border-radius: 10px;
}

a{
  text-decoration: none;
}

.ctrl{
  justify-content: space-between;
  margin: 5px;
  display: flex;
}

.ctrl a{
  border: 1.5px solid #090909;
  color: #f3f1f1f5;
  background: #300032;
  box-shadow: 0px 1px 0px 4px rgb(51, 19, 51);
}