* {box-sizing: border-box;}

@media screen and (min-width: 320px) {
  .container {
    width: 300px;
  }
  .group{
    display: block;
  }
}

@media screen and (min-width: 375px) {
  .container {
    width: 350px;
  }
  .header ul{
    display: block;
  }
  .group{
    display: block;
  }
  .content-form{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .container {
    width: 400px;
  }
  .header ul{
    display: block;
  }
  .group{
    display: block;
  }
  .content-form{
    width: 100%;
  }
  .signup{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 720px;
    display: flex;
  }
  .header ul{
    display: flex;
    justify-content: space-evenly;
  }
  .group{
    display: flex;
  }
  .content-form{
    width: 33.33333%;
  }
  .signup{
    width: 43.3333%;
  }
  .content{
    width: 56.7777%;
  }
}

@media screen and (min-width: 992px) {
  .container {
    /*width: 930px;*/
    display: flex;
  }
  .header ul{
    display: flex;
    justify-content: space-evenly;
  }
  .content-form{
    width: 33.33333%;
  }
  .signup{
    width: 43.3333%;
  }
  .content{
    width: 66.7777%;
  }
}

@media screen and (min-width: 1200px) {
  body{
    height: 100%;
  }
  .container {
    width: 1100px;
  }
  .group{
    display: flex;
    height: -webkit-fill-available;
  }
  .header ul{
    display: flex;
    justify-content: space-evenly;
  }
  .content-form{
    width: 33.33333%;
  }
  .signup{
    width: 43.3333%;
    right: 20%;
  }
  .content{
    width: 66.7777%;
  }
}

@media screen and (min-width: 2200px) {
  body{
    height: 100%;
  }
  .container {
    width: 2000px;
  }
  .group{
    display: flex;
    height: -webkit-fill-available;
  }
  .header ul{
    display: flex;
    justify-content: space-evenly;
  }
  .content-form{
    width: 33.33333%;
  }
  .signup{
    width: 43.3333%;
    right: 20%;
  }
  .content{
    width: 66.7777%;
  }
}

body{
	font-family: arial;
  color: #06000a;
   position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  background-color: #300032;

}

.header{
  display: flex;
  justify-content: space-evenly;
  background: #bd4e4e;
  width: 100%;
}

.header img{
  width: 10%;
  height: 10%;
}

.head{
  width: 54%;
}

.header a{
  font-variant-caps: unset;
  font-size: 15px;
  color: #e6e6e8;
}

.navbar{
  list-style-type: none;
  position: relative;
  padding: 0.5rem 1rem;
}

.nav{
  margin-left: 10px;
}

.title{
  font-size: 38px;
}


.content-form{
  color: #101013;
  border-radius: 15px;
  background-color: #f5f9f9;
  margin: auto;
}

.signup{
  padding: 10px;
  margin: auto;
}

.content-form h3{
  color: #101013;
  text-align: center;
  font-size: 22px;
}

.content{
  color: #fff;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.content h1{
  color: #bbdbe3;
  text-align: center;
  font-size: 55px;
}

.content p{
  font-size: 22px;
}

.form{
  font-size: 20px;
  margin: 10px;
}

.form label{
	font-size: 19px;
}

.form label{
  color: #101013;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
	width: 100%;
	padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover {
	background-color: #ddd;
}

input[type=text]:focus, input[type=password], input[type=email], input[type=number]:focus {
  background-color: #fff;
  outline: none;
  color: #000;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.reg-btn {
  background-color: #300032;
  color: #fff;
  padding: 16px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  font-size: 20px;
  font-weight: bolder;
}

.reg-btn:hover {
  opacity:1;
  background-color: #2a022b;
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.forg-pswd{
	margin: 10px;
  text-align: center;
  font-size: 15px;
}

.redirect{
	text-align: center;
  padding-bottom: 10px;
}

.redirect p{
  font-size: 18px;
  font-weight: bolder;
}

a{
  text-decoration: none;
  color: #06000a;
}

.footer{
  width: 100%;
  color: white;
  margin-top: 10px;
  background: #bd4e4e;
}

.fab{
  margin: 10px;
}
